torch==2.3.0
torchdata==0.9.0
pydantic
torch_geometric
tqdm
--find-links https://data.pyg.org/whl/torch-2.3.0+cpu.html
torch-sparse
torch-scatter
pandas
torchvision
openhgnn
--find-links https://data.dgl.ai/wheels/torch-2.3/cu121/repo.html
dgl
scikit-learn
matplotlib
